html,
body {
    font-family: "Noto Sans", sans-serif;
    overflow-x: hidden;
}

:root {
    --light: #fff;
    --accent: #ff0075;
}

.slider {
    height: 100vh;
}

.slider__slides,
.slide {
    height: 100%;
}

.slide {
    position: relative;
}

.slide:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.slide__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide__content {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 40%;
    z-index: 5;
}

.slide__nav {
    display: flex;
    gap: 50px;
}

.slide__nav-btn {
    --nav-btn-dimensions: 75px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--nav-btn-dimensions);
    height: var(--nav-btn-dimensions);
    padding: 10px;
    transition: background-color .2s linear 0s;
    border: none;
    border-radius: 50%;
    background-color: var(--accent);
    cursor: pointer;
}

.slide__nav-btn:hover {
    background-color: var(--light);
}

.slide__nav-btn svg {
    width: 100%;
    height: 100%;
    transition: fill .2s linear 0s;
    fill: var(--light);
}

.slide__nav-btn:hover svg {
    fill: var(--accent);
}

.slide__title {
    color: var(--light)
}

.slide__title {
    margin-top: 10%;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

}
